@import url('../components.css');

.newItem {
    width: 25vw;
    height: fit-content;
    padding: 6vh 1vw;
    background-image: url(../../assets/Images/hexagon_group.png);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: 9vw 60%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.newItem form{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.newItem .title {
    display: flex;
    align-self: center;
}

.newItem .title img {
    width: 2vw;
    margin: 0 1vw;
}

.newItem .title img:first-child {
    transform: scaleX(-1);
}

.newItem form button {
    background-color: #FEE69F;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
    width: 10em;
}

.newItem form button:hover {
    background-color:  #fde18b;
    transform: scale(1.01);
}

.newItem form button:focus {
    background-color:  #fde18b!important;
}

/* */
.newItem .form_button {
    background-color: #FEE69F;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
    width: 10em;
    margin-top: 1.5vh;
    margin-left: 8.2vw;
}

.newItem .form_button:hover {
    background-color:  #fde18b;
    transform: scale(1.01);
}

.newItem .form_button:focus {
    background-color:  #fde18b!important;
}


/* Creacion cursos */

.newSubject .subjectForm{
    visibility: hidden;
    display: none;
}


/*CSS especial para agregar secciones*/

.newSection .title {
    margin-bottom: 20px;
}

.newSection form .addSection{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    align-self: center;

}

.newSection form .addSection .nameField{
    width: 15vw;
}


.newSection form .addSection .percantageField{
    width: 3.8vw;
}

.newSection .section {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.newSection .section h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.newSection .deleteSection {
    width: fit-content!important;
    padding: 0;
}


/* Create task */

.newTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newTask .date_input, .newTask .hour_input {
    display: flex;
    column-gap: 40px;
}

.newTask .select_priority label{
    margin: 0 0.5vw;
    font-size: 1rem;
}

.newTask .select_priority input{
    margin-right: 3vw;
}