@import url('./pages.css');

.home {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.home__start {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.home__start-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35rem;
    height: 40vh;
    margin-left: 5%;
    z-index: 2;
}

.home__start-text h1{
    font-size: 4em;
}

.home__start-text p{
    font-size: 1.7em;
}

.home__start-text button{
    font-size: 1.7em;
    width: fit-content;
}

.home__hexagons-container{
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: -18%;
    top: -15%;
    transform: translateY(6vh);
}

.home__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.home__group-hexagons:nth-child(2){
    transform: translateX(-16vh) translateY(-6vh);
}

.home__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.home__group-hexagons:nth-child(4){
    transform: translateX(-16vh) translateY(-18vh);
}

.home__hexagon-container{
    background: #FFCE70;
    width: 30vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(1){
    left: -15vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background1.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(2){
    left: 18vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background2.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(3){
    left: 51vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background3.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(4){
    left: 1.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background4.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(1){
    left: 34.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background5.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(2){
    left: 67.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background6.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(3){
    left: -15vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background7.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(4){
    left: 18vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background8.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(1){
    left: 51vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background9.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(2){
    left: 1.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background10.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(3){
    left: 34.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background11.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(4){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background12.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(1){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background4.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(2){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background3.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(3){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background2.jpg);
    background-size: cover;
}

.home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(4){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background1.jpg);
    background-size: cover;
}

.home__section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    background-color: var(--main-color);
}

.home__section2-background {
    position: absolute;
}

.hex {
    position:relative;
    min-width: 40vh;
    height: 40vh;
    background-image: url('../assets/Images/Hexagono.png');
    background-size:cover;
    z-index: 1;
}
.hex-left {
    left: 50vw;
    top: -5vh;
}

.hex-right {
    left: -50vw;
    top: 5vh;
}

.home__section2-text {
    display: flex;
    text-align: center;
    width: 70%;
    justify-content: space-between;
    height:50vh;
    z-index: 3;
}

.text-float {
    width: 20rem;
}

.text-float h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.text-float p {
    font-size: 1.5em;
}

.text-float:nth-child(2) {
    align-self:center;
}

.text-float:nth-child(3) {
    align-self:flex-end;
}

.home li{
    transition: .3s all ease-in-out;
}

.home li:hover {
    transform: scale(1.1);
}

.home__info {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.home__info-content {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 80px 0px;
    margin: 0;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    position: relative;
}

.home__info-content:nth-child(1) {
    padding: 0px;
}

.home__info-text{
    width: 30rem;
    text-align: center;
    position: relative;
}

.home__info-text h1 {
    font-size: 3rem;
}

.home__info-text p {
    font-size: 1.7rem;
}

.home__info-text *{
    margin: 2vh 0;
}

.home__info .info__hexagons-container{
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    transform: translateY(6vh) translateX(13.5vh);
}

.home__info .info__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.home__info .info__group-hexagons:nth-child(2){
    transform: translateX(-13.5vh) translateY(-6vh);
}

.home__info .info__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.home__info .info__hexagon-container{
    background: #FFCE70;
    width: 25vh;
    height: 30vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.home__info img.hexagon-img {
    width: 70%;
}

.home__info .home__info-text img.bee:nth-child(4) {
    width: 20%;
    bottom: -20%;
    right: -10%;
    position: absolute;
    animation: beeAnimation 2s infinite ease-in-out;
}

.home__info .home__info-text img.bee:nth-child(5) {
    width: 20%;
    top: -20%;
    left: -10%;
    position: absolute;
    animation: beeReverseAnimation 2s infinite ease-in-out;
}

@keyframes beeAnimation {
    0% {transform: translateY(-1vh);}
    50% {transform: translateY(1vh);}
    100% {transform: translateY(-1vh);}
}

@keyframes beeReverseAnimation {
    0% {transform: scaleX(-1) translateY(-1vh);}
    50% {transform: scaleX(-1) translateY(1vh);}
    100% {transform: scaleX(-1) translateY(-1vh);}
}

.home .home__info-image-container {
    width: 45rem;
    height: 30rem;
    position: relative;
}

.home .home__info .home__info-content:nth-child(2) .home__info-image-container{
    background: url("../assets/Images/home-media/info-image1.jpg");
    background-size: cover;
    background-position: center;
}

.home .home__info .home__info-content:nth-child(3) .home__info-image-container{
    background: url("../assets/Images/home-media/info-image2.jpg");
    background-size: cover;
    background-position: center;
}

.home .home__info .home__info-content:nth-child(4) .home__info-image-container{
    background: url("../assets/Images/home-media/info-image3.jpg");
    background-size: cover;
    background-position: center;
}

.home .home__info-image-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid #FFCE70 5px;
    left: 3.5%;
    top: 5%;
    z-index: -1;
}

.home .home__info-content:nth-child(3) .home__info-image-container::before {
    left: -4.5%;
}

.home__info-content:nth-child(5) {
    flex-flow: column;
    row-gap: 25px;
    padding-bottom: 120px;
}

.home__info-content:nth-child(5) h1 {
    font-size: 3.5em;
}

.home__info-content:nth-child(5) .home__info-video-container{
    width: 75rem;
    height: 40rem;
    position: relative;
    background: url(../assets/Images/home-media/info-image4.jpg);
    background-size: cover;
    background-position: center;
}

.home__info .hexagon-container{
    background: #FFCE70;
    width: 20vh;
    height: 25vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    position: absolute;
    z-index: -1;
}

.home__info-content:nth-child(5) .hexagon-container:nth-child(1){
    left: -10vh;
    top: -12.5vh;
}

.home__info-content:nth-child(5) .hexagon-container:nth-child(2){
    right: -10vh;
    bottom: -12.5vh;
}

.home__testimonials{
    width: 100%;
    height: fit-content;
    padding: 30px 0px;
    background-color: #FEE69F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 50px;
}

.home__testimonials h1{
    font-size: 3.5em;
}

.home__testimonials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    column-gap: 100px;
}

.home__testimonial-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.home__testimonials .hexagon-image-container{
    background: #FFCE70;
    width: 16vh;
    height: 18vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -72px;
    z-index: 1;
}

.home__testimonials .home__testimonial-container:nth-child(1) .hexagon-image-container{
    background: url(../assets/Images/home-media/testimonial-image1.jpg);
    background-size: cover;
    background-position: center;
}

.home__testimonials .home__testimonial-container:nth-child(2) .hexagon-image-container{
    background: url(../assets/Images/home-media/testimonial-image2.jpg);
    background-size: cover;
    background-position: center;
}

.home__testimonials .home__testimonial-container:nth-child(3) .hexagon-image-container{
    background: url(../assets/Images/home-media/testimonial-image3.jpg);
    background-size: cover;
    background-position: center;
}

.home__testimonials .home__testimonial-container:nth-child(4) .hexagon-image-container{
    background: url(../assets/Images/home-media/polygon-background1.jpg);
    background-size: cover;
    background-position: top;
}

.home__testimonials .hexagon-text-container{
    background: #FFFFFF;
    width: 30vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 10px;
    z-index: 0;
}

.home__testimonials .hexagon-text-container h1{
    font-size: 1.5em;
    margin-top: 10px;
}

.home__testimonials .hexagon-text-container p{
    font-size: 1.3em;
    text-align: center;
    padding: 0px 10px;
}

.home__register{
    width: 100%;
    height: 40vh;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 25px;
    padding: 50px;
}

.home__register h1{
    font-size: 3.5em;
}

.home__register p{
    font-size: 1.7em;
}

.home__register button{
    padding: 0px 75px;
    font-size: 2.3em;
}

.home__footer{
    width: 100%;
    height: auto;
    background: var(--main-color);
    position: relative;
    display: flex;
    padding: 50px;
    column-gap: 100px;
}

.home__footer-us-container{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    row-gap: 25px;
    padding: 0px 25px;
}

.home__footer-us-container a{
    text-decoration: none;
    color: black;
}

.home__footer-tools-container{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    row-gap: 25px;
    padding: 0px 25px;
}

.home__footer-tools-container a{
    text-decoration: none;
    color: black;
}

.home__footer-social-container{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    row-gap: 25px;
    padding: 0px 25px;
}

.home__footer-social-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    column-gap: 10px;
}

.home__footer-social-container a img{
    width: 20%;
}

@media (max-width: 700px) {
    .placeholder .home__info-content img{
        width: 80vw;
        height: 50vw;
    }
    .placeholder .home__info-content{
        flex-direction: column-reverse!important;
    }

    .no-reverse .home__info-content{
        flex-direction: column!important;
    }
    .placeholder .home__info-bees .bee-top {
        top: -70vh;
        left: 70vw;
    }

    .home__info-bees .bee-top {
        top: -40vh;
        left: 65vw;
    }
    .home__info-bees .bee-down {
        top: -60vh;
        left: 5vw;
    }
    .home__info-content *{
        margin: 3vh 0;
    }
    .home__info-content {
        flex-direction: column;
        height: 110vh;
    }
    .home__info-text{
        width: 70vw;
    }
    .home__info-content img {
        width: 20rem;
        height: 18rem;
    }
    .bee-top {
        left: 53vw;
    }
    .bee-down {
        left: -15vw;
    }

    .bee {
        width: 7rem;
        height: 7rem;
    }
    .home__info-text h1{
        font-size: 2em;
    }

    .home__info-text p{
        font-size: 1.2em;
    }
    .text-float {
        width: 60vw;
    }

    .text-float h1 {
        font-size: 2em;
    }

    .text-float p {
        font-size: 1.2em;
    }

    .home__section2-text {
        flex-direction: column;
        height:auto;
    }

    .text-float:nth-child(n) {
        margin: 1em 0;
        align-self:center;
    }

    .home__start-text h1 {
        font-size: 2.5rem;
    }

    .home__start-text button {
        font-size: 1.5rem;
    }

    .home__start-text p {
        font-size: 1.5rem;
    }

    .home__start-text {
        align-items: center;
        text-align: center;
        width:70vw;
        height: fit-content;
        padding: 5vh 5vw;
        background-color: rgba(255, 255, 255, 0.514);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .home__start-text *{
        margin: 2vh 0;
    }
    .home__start {
        background-position: 30vw -10rem;
        justify-content: center;

    }
}
