@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.home {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

:root {
    --main-color: #FEE69F;
}

.home .home__start {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.home .home__start-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35rem;
    height: 40vh;
    margin-left: 5%;
    z-index: 2;
}

.home .home__start-text h1{
    font-size: 4em;
}

.home .home__start-text p{
    font-size: 1.7em;
}

.home .home__start-text button{
    font-size: 1.7em;
    width: fit-content;
}

.home .home__hexagons-container{
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: -18%;
    top: -15%;
    transform: translateY(6vh);
}

.home .home__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.home .home__group-hexagons:nth-child(2){
    transform: translateX(-16vh) translateY(-6vh);
}

.home .home__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.home .home__group-hexagons:nth-child(4){
    transform: translateX(-16vh) translateY(-18vh);
}

.home .home__hexagon-container{
    background: #FFCE70;
    width: 30vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.home .home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(1){
    left: -15vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background1.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(2){
    left: 18vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background2.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(3){
    left: 51vh;
    top: -10%;
    background: url(../assets/Images/home-media/polygon-background3.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(1) .home__hexagon-container:nth-child(4){
    left: 1.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background4.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(1){
    left: 34.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background5.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(2){
    left: 67.5vh;
    top: 18%;
    background: url(../assets/Images/home-media/polygon-background6.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(3){
    left: -15vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background7.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(2) .home__hexagon-container:nth-child(4){
    left: 18vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background8.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(1){
    left: 51vh;
    top: 46%;
    background: url(../assets/Images/home-media/polygon-background9.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(2){
    left: 1.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background10.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(3){
    left: 34.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background11.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(3) .home__hexagon-container:nth-child(4){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background12.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(1){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background4.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(2){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background3.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(3){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background2.jpg);
    background-size: cover;
}

.home .home__group-hexagons:nth-child(4) .home__hexagon-container:nth-child(4){
    left: 67.5vh;
    top: 74%;
    background: url(../assets/Images/home-media/polygon-background1.jpg);
    background-size: cover;
}

.home__info {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__info-content {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.home .home__info-text{
    width: 25vw;
    text-align: center;
    position: absolute;
    left: 10%;
}

.home .home__info-text h1 {
    font-size: 3rem;
}

.home .home__info-text p {
    font-size: 1.7rem;
}

.home .home__info-text *{
    margin: 2vh 0;
}

.placeholder img{
    width: 50vw;
    height: 33vw;
    position: absolute;
    right: 5%;
}

.yellow-button {
    font-size: 1.7em;
}

.home__info-bees {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.home__info-bees .bee-top {
    top: -40vh;
    left: 80vw;
}

.home__info-bees .bee-down {
    top: -90vh;
    left: 40vw;
}

.placeholder .home__info-bees .bee-top {
    top: -30vh;
    left: 85vw;
}

.home__info .info__hexagons-container{
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 5%;
    transform: translateY(6vh);
}

.home__info .info__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.home__info .info__group-hexagons:nth-child(2){
    transform: translateX(-13.5vh) translateY(-6vh);
}

.home__info .info__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.home__info .info__group-hexagons:nth-child(4){
    transform: translateX(-16vh) translateY(-18vh);
}

.home__info .info__hexagon-container{
    background: #FFCE70;
    width: 25vh;
    height: 30vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.home__info img.hexagon-img {
    width: 70%;
}

.home .home__section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    background-color: var(--main-color);
}

.home .home__section2-background {
    position: absolute;
}

.home .hex {
    position:relative;
    min-width: 40vh;
    height: 40vh;
    background-image: url('../assets/Images/Hexagono.png');
    background-size:cover;
    z-index: 1;
}
.home .hex-left {
    left: 50vw;
    top: -5vh;
}

.home .hex-right {
    left: -50vw;
    top: 5vh;
}

.home .bee{
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-image: url('../assets/Images/Bee.png');
    background-size: contain;
    z-index: 2;
}

.home .bee-top {
    top: -5vh;
    left: 40vw;

}

.home .bee-down {
    top: 50vh;
    left: -25vw;
    background-image: url('../assets/Images/Bee-rotated.png');
}


.home .home__section2-text {
    display: flex;
    text-align: center;
    width: 70%;
    justify-content: space-between;
    height:50vh;
    z-index: 3;
}

.home .text-float {
    width: 20rem;
}

.home .text-float h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.home .text-float p {
    font-size: 1.5em;
}

.home .text-float:nth-child(2) {
    align-self:center;
}

.home .text-float:nth-child(3) {
    align-self:flex-end;
}

@media (max-width: 700px) {
    .placeholder .home__info-content img{
        width: 80vw;
        height: 50vw;
    }
    .placeholder .home__info-content{
        flex-direction: column-reverse!important;
    }

    .no-reverse .home__info-content{
        flex-direction: column!important;
    }
    .placeholder .home__info-bees .bee-top {
        top: -70vh;
        left: 70vw;
    }

    .home .home__info-bees .bee-top {
        top: -40vh;
        left: 65vw;
    }
    .home .home__info-bees .bee-down {
        top: -60vh;
        left: 5vw;
    }
    .home__info-content *{
        margin: 3vh 0;
    }
    .home .home__info-content {
        flex-direction: column;
        height: 110vh;
    }
    .home .home__info-text{
        width: 70vw;
    }
    .home__info-content img {
        width: 20rem;
        height: 18rem;
    }
    .home .bee-top {
        left: 53vw;
    }
    .home .bee-down {
        left: -15vw;
    }

    .home .bee {
        width: 7rem;
        height: 7rem;
    }
    .home .home__info-text h1{
        font-size: 2em;
    }

    .home .home__info-text p{
        font-size: 1.2em;
    }
    .home .text-float {
        width: 60vw;
    }

    .home .text-float h1 {
        font-size: 2em;
    }

    .home .text-float p {
        font-size: 1.2em;
    }

    .home .home__section2-text {
        flex-direction: column;
        height:auto;
    }

    .home .text-float:nth-child(n) {
        margin: 1em 0;
        align-self:center;
    }

    .home .home__start-text h1 {
        font-size: 2.5rem;
    }

    .home .home__start-text button {
        font-size: 1.5rem;
    }

    .home .home__start-text p {
        font-size: 1.5rem;
    }

    .home .home__start-text {
        align-items: center;
        text-align: center;
        width:70vw;
        height: fit-content;
        padding: 5vh 5vw;
        background-color: rgba(255, 255, 255, 0.514);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .home__start-text *{
        margin: 2vh 0;
    }
    .home__start {
        background-position: 30vw -10rem;
        justify-content: center;

    }
}

.login {
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    position: relative;
    display: flex;
}

.login__container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.login .login__hexagons-container:nth-child(1){
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: -40%;
    top: -15%;
    transform: translateY(6vh);
}

.login .login__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.login .login__group-hexagons:nth-child(2){
    transform: translateX(-16vh) translateY(-6vh);
}

.login .login__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.login .login__group-hexagons:nth-child(4){
    transform: translateX(-16vh) translateY(-18vh);
}

.login .login__hexagon-container{
    background: #FFCE70;
    width: 30vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.login .login__hexagons-container:nth-child(2){
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: -40%;
    top: -15%;
    transform: translateY(6vh) scaleX(-1);
}

.register {
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    position: relative;
    display: flex;
}

.register__container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__container-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.register .register__hexagons-container:nth-child(1){
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: -40%;
    top: -15%;
    transform: translateY(6vh);
}

.register .register__group-hexagons{
    display: flex;
    column-gap: 2vh;
}

.register .register__group-hexagons:nth-child(2){
    transform: translateX(-16vh) translateY(-6vh);
}

.register .register__group-hexagons:nth-child(3){
    transform: translateY(-12vh);
}

.register .register__group-hexagons:nth-child(4){
    transform: translateX(-16vh) translateY(-18vh);
}

.register .register__hexagon-container{
    background: #FFCE70;
    width: 30vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75% , 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.register .register__hexagons-container:nth-child(2){
    width: auto;
    height: fit-content;
    background: none;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: -40%;
    top: -15%;
    transform: translateY(6vh) scaleX(-1);
}