@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.home {
    position: absolute; width: 100%; overflow-x: hidden
}
:root {
    --main-color: #FEE69F;
}

.home__start {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    background-image: url('../assets/Images/People-Images.png');
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: 50vw -10rem;

}

.home__start-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 40vh;
    margin-left: 5%;
}

.home__start-text h1{
    font-size: 3.2em;
}

.home__start-text p{
    font-size: 1.15em;
}

.home__start-text button{
    font-size: 1.15em;
    width: fit-content;
}

.home__section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 91vh;
    margin: 0 0;
    background-color: var(--main-color);
}

.home__section2-background {
    position: absolute;
}

.hex {
    position:relative;
    min-width: 40vh;
    height: 40vh;
    background-image: url('../assets/Images/Hexagono.png');
    background-size:cover;
    z-index: 1;
}
.hex-left {
    left: 50vw;
    top: -5vh;
}

.hex-right {
    left: -50vw;
    top: 5vh;
}

.bee{
    position: relative;
    width: 7rem;
    height: 7rem;
    background-image: url('../assets/Images/Bee.png');
    background-size: contain;
    z-index: 2;
}

.bee-top {
    top: -5vh;
    left: 40vw;

}

.bee-down {
    top: 50vh;
    left: -25vw;
    background-image: url('../assets/Images/Bee-rotated.png');
}


.home__section2-text {
    display: flex;
    text-align: center;
    width: 70%;
    justify-content: space-between;
    height:50vh;
    z-index: 3;
}

.text-float {
    width: 14rem;
}

.text-float h1 {
    font-size: 2.2em;
    margin-bottom: 1rem;
}

.text-float p {
    font-size: 1.1em;
}

.text-float:nth-child(2) {
    align-self:center;
}

.text-float:nth-child(3) {
    align-self:flex-end;
}

.home__info {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.home__info *{
margin: 0 10vw;
}

.home__info-text{
    width: 25vw;
    text-align: center;
}

.home__info-text h1 {
    font-size: 2em;
}

.home__info-text p {
    font-size: 1.2em;
}

.home__info-text *{
    margin: 2vh 0;
}

.home__info img {
    width: 30rem;
    height: 28rem;
}
.yellow-button {
    font-size: 1.2em;
}

.home__info-bees {
    position: absolute;
    width: 100vw;
}


@media (max-width: 500px) {
    .bee-top {
        left: 53vw;
    }
    .bee-down {
        left: -15vw;
    }

    .text-float h1 {
        font-size: 2em;
    }

    .text-float p {
        font-size: 1.2em;
    }

    .home__section2-text {
        flex-direction: column;
        height:auto;
    }

    .text-float:nth-child(n) {
        margin: 1em 0;
        align-self:center;
    }

    .home__start-text {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        align-items: center;
        text-align: center;
        width: 20.5rem;
        padding: 5vh 5vw;
        background-color: rgba(255, 255, 255, 0.514);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
    .home__start {
        background-position: 30vw -10rem;
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
}
}