.course_information {
    display: flex;
    flex-direction: column;
}

.course_information .content {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
}

.course_information .title{
    margin: 2vh 0;
}

.course_information .title h1 {
    margin-bottom: 1.5vh;
}

.course_information .title p {
    font-weight: 600;
}

.course_information .container {
    display: flex;
    flex-direction: column;
    background-color: #B7E8D5;
    padding:0 2vw;
    padding-bottom: 8vh;
    border-radius: 10px;
}

.course_information .container h1 {
    font-size: 2rem;
    align-self: center;
    margin: 2vh 0;
}

.course_information .container div {
    background-color: white;
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
}

.course_information .container button {

}

.course_information .section_container {
    width: 20vw;
    background-color: #CFDFEB;
}