* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.dahsboard__home{
    width: 90%;
    height: 100vh;
}

.dashboard__home-container{
    width: 100%;
}

.dashboard__home-container-header{
    padding: 5px 10px;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

.dashboard__home-container-header-info{
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 25px;
}

.dashboard__home-container-header-info-text h1{
    font-weight: 100;
}

.dashboard__home-container-header-info-text h1 span{
    font-weight: bold;
}

.dashboard__home-container-header-info .bee{
    height: 90%;
    animation: beeAnimationUpAndDown 2s infinite ease-in-out;
}

@keyframes beeAnimationUpAndDown {
    0% {transform: translateY(-.5vh);}
    50% {transform: translateY(.5vh);}
    100% {transform: translateY(-.5vh);}
}

.dashboard__home-container-body {
    width: 100%;
    height: calc(90vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__home-container-body h1,
.dashboard__home-container-body h2 {
    position: relative;
    z-index: 1;
}

.dashboard__home-container-body-items:nth-child(1){
    width: 60%;
    height: 100%;
}

.dashboard__home-container-body-counters {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.dashboard__home-container-body-counters .counter{
    position: relative;
    padding: 10px;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.dashboard__home-container-body-counters .hexagons-background{
    position: absolute;
    width: 80%;
    right: -45%;
    top: -40%;
    z-index: 0;
}

.dashboard__home-container-body-counters-tasks{
    background: #B7E8D5;
}

.dashboard__home-container-body-counters-courses{
    background: #F0CAC7;
}

.dashboard__home-container-body-tasks{
    width: 100%;
    height: calc(85% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__home-container-body-tasks-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #B7E8D5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.dashboard__home-container-body-tasks-container-body{
    width: 96%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.dashboard__home-container-body-items:nth-child(2){
    width: 40%;
    height: 100%;
}

.dashboard__home-container-body-calendar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.dashboard__home-container-body-calendar-container{
    position: relative;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #CFDFEB;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.dashboard__home-container-body-calendar-container .hexagons-background{
    position: absolute;
    width: 95%;
    transform: scaleX(-1);
    left: -65%;
}

.dashboard__home-container-body-calendar-container h1{
    padding: 0px 20px;
}

.dashboard__home-container-body-courses{
    width: 100%;
    height: calc(60% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__home-container-body-courses-container{
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F0CAC7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    flex-flow: column;
    row-gap: 15px;
    overflow: hidden;
}

.dashboard__home-container-body-courses-container h1{
    position: relative;
    height: 10%;
}

.dashboard__home-container-body-courses-container .dashboard__home-container-body-courses-container-list{
    position: relative;
    width: 95%;
    height: 80%;
}

.dashboard__home-container-body-courses-container .hexagons-background{
    position: absolute;
    height: 125%;
    right: -90%;
    z-index: 0;
}

.dashboard__home-container-body-courses-container-body{
    width: 96%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}