* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.home{
    width: 90%;
    height: 100vh;
}

.home__container{
    width: 100%;
}

.home__container-header{
    padding: 5px 10px;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

.home__container-header-info{
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 25px;
}

.home__container-header-info .bee{
    height: 90%;
    animation: beeAnimationUpAndDown 2s infinite ease-in-out;
}

@keyframes beeAnimationUpAndDown {
    0% {transform: translateY(-.5vh);}
    50% {transform: translateY(.5vh);}
    100% {transform: translateY(-.5vh);}
}

.home__container-body {
    width: 100%;
    height: 90vh;
    display: flex;
    column-gap: 25px;
}

.home__container-body-items:nth-child(1){
    width: 60%;
    height: 100%;
}

.home__container-body-counters {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.home__container-body-counters .counter{
    padding: 10px;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.home__container-body-counters-tasks{
    background: #B7E8D5;
}

.home__container-body-counters-courses{
    background: #F0CAC7;
}

.home__container-body-tasks{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container-body-tasks-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #B7E8D5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.home__container-body-tasks-container-body{
    width: 96%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.home__container-body-items:nth-child(2){
    width: 35%;
    height: 100%;
}

.home__container-body-calendar{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container-body-calendar-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #CFDFEB;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.home__container-body-calendar-container-body{
    width: 96%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.home__container-body-courses{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container-body-courses-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F0CAC7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.home__container-body-courses-container-body{
    width: 96%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}