@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --main-color: #FEE69F;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 1vw;
    background-color: white;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar__logo {
    width: 1.4rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    font-size: 1em;
}

.navbar ul li {
    margin: 0 1.5vw;
}


.navbar ul li a{
    color: black;
    text-decoration: none;
}

.navbar__important {
    font-weight: 600;
}

.navbar__button {
    padding: 1vh 0.8rem!important;
}

.yellow-button {
    background-color: var(--main-color);

    border-radius: 1.3rem;
    border-style: none;
    padding: 0.5vh 0.8rem;
    font-weight: 600;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.yellow-button a {
    color: black;
    text-decoration: none;
}

.navbar__button {
    font-size: 1em;
}

.navbar .open {
    top: 0;
    left: 0;
    transition: top ease-in-out 500ms;
    -webkit-transition: top ease-in-out 500ms;
    -moz-transition: top ease-in-out 500ms;
    -ms-transition: top ease-in-out 500ms;
    -o-transition: top ease-in-out 500ms;
}

.navbar__hamburger {
    display: none;
}

@media (max-width: 600px) {
    .navbar{
        padding: 1vh 5vw;
    }
    .navbar__hamburger {
        display: block;
    }
    .navbar ul {
        flex-direction: column;
        justify-content: center;
        font-size: 2em;
        position: absolute;
        top: -100vh;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
        height: 100vh;
        transition: top ease-in-out 500ms;
        -webkit-transition: top ease-in-out 500ms;
        -moz-transition: top ease-in-out 500ms;
        -ms-transition: top ease-in-out 500ms;
        -o-transition: top ease-in-out 500ms;
    }

    .navbar ul li {
        margin: 3vh 0;
    }
    .navbar .yellow-button {
        background-color: black;
    }

    .navbar .yellow-button a{
    color: var(--main-color)!important;
    }
    .navbar__logo {
        width: 2rem;
    }
}

.login-form {
    width: 515px;
    height: auto;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 35px;
}

.login-form h1{
    font-size: 50px;
    font-weight: bold;
}

.login-form form {
    display: flex;
    flex-flow: column;
    row-gap: 50px;
}

.login-form .form-fields{
    width: 375px;
    display: flex;
    flex-flow: column;
    row-gap: 30px;
}

.login-form .form-fields label{
    font-size: 30px;
    font-weight: normal;
}

.login-form .form-fields input{
    height: 25px;
    border-radius: 5px;
    font-size: 20px;
}

.login-form .form-fields div {
    display: flex;
    flex-flow: column;
}

.login-form button {
    font-family: 'Quicksand';
    font-size: 30px;
    border-radius: 50px;
    background: var(--main-color);
    font-weight: 500;
}

.login-form span {
    font-size: 20px;
}

.login-form span a {
    text-decoration: none;
    margin: 0px 10px;
    color: #E0A025;
    font-weight: bold;
}

.register-form {
    width: 515px;
    height: auto;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 35px;
}

.register-form h1{
    font-size: 50px;
    font-weight: bold;
}

.register-form form {
    display: flex;
    flex-flow: column;
    row-gap: 50px;
}

.register-form .form-fields{
    width: 375px;
    display: flex;
    flex-flow: column;
    row-gap: 30px;
}

.register-form .form-fields label{
    font-size: 30px;
    font-weight: normal;
}

.register-form .form-fields input{
    height: 25px;
    border-radius: 5px;
    font-size: 20px;
}

.register-form .form-fields div {
    display: flex;
    flex-flow: column;
}

.register-form button {
    font-family: 'Quicksand';
    font-size: 30px;
    border-radius: 50px;
    background: var(--main-color);
    font-weight: 500;
}

.register-form span {
    font-size: 20px;
}

.register-form span a {
    text-decoration: none;
    margin: 0px 10px;
    color: #E0A025;
    font-weight: bold;
}