@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --main-color: #FEE69F;
}

.yellow-button {
    background-color: var(--main-color);
    border-radius: 1.3rem;
    border-style: none;
    padding: 0.5vh 0.8rem;
    font-weight: 600;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.yellow-button a {
    color: black;
    text-decoration: none;
}
