@import url('./components.css');

.login-form {
    width: 25vw;
    height: auto;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 35px;
}

.login-form__title {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center;
}

.login-form__title svg {
    width: 3rem;
}

.login-form__title h1{
    margin-left: 2vw;
    font-size: 3.5rem;
    font-weight: bold;
}

.login-form form {
    display: flex;
    flex-flow: column;
    row-gap: 50px;
    align-items: center;
}

.login-form .form-fields{
    display: flex;
    align-items: center;
    flex-flow: column;
    row-gap: 30px;
    overflow-x: hidden;
}

.login-form .form-fields label{
    font-size: 20px;
    font-weight: normal;
}

.login-form .form-fields input{
    font-size: 20px;
    margin-left: 25px;
}

.form-fields div {
    width: 25vw;
}

.form-fields h2 {
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5vh;
}

.MuiFilledInput-root {
    background: white!important;
}

.login-form .form-fields div {
    display: flex;
    flex-flow: column;
}

.login-form span {
    font-size: 20px;
}

.login-form span a {
    text-decoration: none;
    margin: 0px 10px;
    color: #E0A025;
    font-weight: bold;
}
.MuiButtonBase-root {
    width: fit-content;
}

@media (max-width: 575.98px) {
    .login-form,  .login-form .form-fields{
        width: 80vw;
    }
    .login-form h1{
        font-size: 2.6rem;
    }
    .login-form span {
        font-size: 1.1rem;
    }
    .login-form .MuiButton-label {
        font-size: 1.3rem;
    }
}

@media (max-width: 991.98px) {
    .login-form, .login-form .form-fields, .login-form__title, .form-fields div{
        width: 55vw;
    }
    .login-form h1{
        font-size: 3rem;
    }
}

@media (max-width: 1199.98px) {
    .login-form, .login-form .form-fields, .login-form__title, .form-fields div{
        width: 60vw;
    }
    .login-form h1{
        font-size: 2.5rem;
    }
    .login-form__title svg {
        width: 35px;
    }
}

@media (max-width: 1366px) {
    .login-form, .login-form .form-fields, .login-form__title, .form-fields div{
        width: 50vw;
        row-gap: 15px;
    }
    .login-form h1{
        font-size: 4rem;
    }
    .login-fields h2 {
        font-size: 2rem;
    }
    .login-fields p {
        font-size: 1rem;
    }
    .login-form span {
        font-size: 25px;
    }
}
