@import url('../components.css');

.MenuNav {
    display: flex;
    flex-direction: column;
    background-color: #FEE69F;
    width: 10%;
    height: 100vh;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.MenuNav div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.MenuNav div svg {
    width: 3rem;
    height: 3rem;
}

.MenuNav div *:hover {
    color: red;
}

.MenuNav div img {
    width: 3vw;
}

.MenuNav div h1 {
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: 500;
}